<c-card class="mb-4">
      <c-card-header>
        <strong>Listes des responsables </strong>
      </c-card-header>
      <c-card-body>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let responsable of responsables; let i = index">
                <td><input cFormControl [(ngModel)]="responsable.nom" style="width: 150px;" /></td>
                <td><input cFormControl  [(ngModel)]="responsable.prenom" style="width: 150px;" /></td>
                <td><input cFormControl [(ngModel)]="responsable.adresse" style="width: 150px;" /></td>
                <td><input cFormControl [(ngModel)]="responsable.telephone" style="width: 150px;" /></td>
                <td><input cFormControl [(ngModel)]="responsable.email"  style="width: 150px;" disabled/></td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="deleteResponsable(i)">Supprimer</button>
                  <button type="button" class="btn btn-info" (click)="updateResponsable(i)">Modify</button>
                </td>
              </tr>
            </tbody>
          </table>
      </c-card-body>
    </c-card>